{% extends "customer.html" %}
{% block content %}

<form action='/secondCust' method = 'POST' style="padding:1rem;margin-right:15rem;margin-left:20rem;border:1px solid silver">
    <h3>Add Customer</h3>
    
    <label for="exampleInputEmail1">name</label>
    <input type='text' class="form-control" style="width:50%" name='name'>
    <label for="exampleInputPassword1">Address</label>
    <input type='text' class="form-control" style="width:50%" name='address'>
    <label for="exampleInputPassword1">Gender</label>
    <input type='text' class="form-control" style="width:50%" name='gender'>
    <label for="exampleInputPassword1">Contact Number</label>
    <input type='tel' class="form-control" style="width:50%" name='contact'>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}