{% extends "index.html" %}
{% block content %}

<form action='/secondOrder' method = 'POST' style="padding:1rem;margin-right:15rem;margin-left:20rem;border:1px solid silver">
    <h3>Add Customer</h3>
    <label for="exampleInputEmail1">Customer Name</label>
    <input type='text' class="form-control" style="width:50%" name='cname'>
    
    <label for="exampleInputEmail1">Medicine</label>
    <input type='text' class="form-control" style="width:50%" name='name'>
    <label for="exampleInputEmail1">Doctor</label>
    <input type='text' class="form-control" style="width:50%" name='Doctor'>
    <label for="exampleInputPassword1">Quantity</label>
    <input type='tel' class="form-control" style="width:50%" name='quantity'>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}