
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Pharm Management</title>  
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
table,td,tr,th{
    text-align: center;
    border: 1px solid grey; 
}
</style>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="GetCustData">Dashboard</a>

  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Main Menu
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/customer_details">Customer Details</a>
        <a class="dropdown-item" href="/reports">Reports</a>
        
      </div>
    </li>  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Customer details
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/customer_details">Customer</a>
        <a class="dropdown-item" href="/Special_customer">special customer for home delivery
</a>
      </div>
    </li>     
    <a class="nav-link" href="/logout">Logout</a>
  </ul>
      
</nav>
<div class="container" style="padding:10px;margin-left:340px;overflow:hidden;-ms-overflow-style: none;">
<a href="/addCust" class="btn btn-dark">Add New Customer</a>
<a href="/addOrder" class="btn btn-dark">Order Medicine</a>
          </div>
{% block content %}{% endblock %}




  
</body>
  </html>