
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Pharm Management</title>  
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
form{
    margin:5rem;
    margin-left:7rem;
    margin-right:7rem;
    border: 0.2rem solid black;
    padding: 1rem;
}
.form-control{
    width:70%;
    margin-left:2rem;
}
label{
    padding:1rem;
    }
button{
    margin:1rem;
    margin-left:10rem;
}
h4{
    text-align:center;
}
</style>
</head>
<body>

<form action='/second' method = 'POST'>
    <h3>Welcome To Pharma Management System</h3>
    <h4>Log In</h4>
    <label for="exampleInputEmail1">Username</label>
    <input type='text' class="form-control" name='username'>
    <label for="exampleInputPassword1">Password</label>
    <input type='password' class="form-control" name='password'>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  
</body>
  </html>